
<!-- Tab Navigation -->
<h1 class="text-center text-2xl font-bold my-4">Sizing Information</h1>
<div class="mx-auto w-[95%] bg-gray-700 text-white">
    <div class="flex justify-around py-4 cursor-pointer">
        <div id="final_sizing_tab" class="tab-title text-center text-lg font-bold py-2 px-5 bg-blue-600 rounded shadow-xl">
           Final Sizing
        </div>
        <div id="service_level_sizing_tab" class="tab-title text-center text-lg font-bold py-2 px-5 rounded shadow-xl">
            Service Level Sizing
        </div>
    </div>
</div>

<!-- Final Sizing Table -->
<div id="final_sizing_table" class="tab-content my-4">
<section>
    <div class="mx-auto w-[95%] bg-gray-700 text-white">
        <div class="flex justify-around py-4 cursor-pointer">
            <div id="k8s_tab" class="tab-title text-center text-lg font-bold py-2 px-5 bg-blue-600 rounded shadow-xl" onclick="activateTab('k8s_tab', 'k8s_table', 'vms_table')">
                Sizing on a Managed K8S Environment
            </div>
            <div id="vms_tab" class="tab-title text-center text-lg font-bold py-2 px-5 rounded shadow-xl" onclick="activateTab('vms_tab', 'vms_table', 'k8s_table')">
                Sizing on VMs
            </div>
        </div>
    </div>
    
    <!-- First Table -->
    <div id="k8s_table" class="tab-content my-4">   
        <table class="mx-auto mb-8 w-[95%]">
            <thead>
                <tr>
                    {% for header in page_info.table_data.final_sizing_header_1 %}
                        <th class="bg-gray-300 shadow-2xl p-2">{{ header }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in page_info.table_data.final_sizing_rows_1 %}
                    <tr>
                        {% for item in row %}
                            <td class="p-2 border">{{ item }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    <!-- Second Table -->
    <div id="vms_table" class="tab-content my-4 hidden">
        <table class="mx-auto w-[95%]">
            <thead>
                <tr>
                    {% for header in page_info.table_data.final_sizing_header_2 %}
                        <th class="bg-gray-300 shadow-2xl p-2">{{ header }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in page_info.table_data.final_sizing_rows_2 %}
                    <tr>
                        {% for item in row %}
                            <td class="p-2 border">{{ item }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <button class="bg-blue-600 text-white px-5 py-2 rounded mx-[3%]" onclick="exportToExcel()">Export to Excel</button>
    </section>
</div>

<!-- Service Level Sizing -->
<div id="service_level_sizing_table" class="tab-content my-4 hidden">
    <table class="mx-auto w-[95%]">
        <thead>
            <tr>
                {% for header in page_info.table_data.service_level_headers %}
                    <th class="bg-gray-300 shadow-2xl">{{ header }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in page_info.table_data.service_level_rows %}
                <tr>
                    {% for item in row %}
                        <td>{{ item }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div>
 

    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.9/xlsx.full.min.js"></script>
    <script>
        // Tab functionality
      
    
        // Function to switch tabs
        function activateTab(activeTabId, contentToShowId, contentToHideId) {
            // Get the tab elements
            const k8s_tab = document.getElementById('k8s_tab');
            const vms_tab = document.getElementById('vms_tab');
        
            // Reset all tabs
            k8s_tab.classList.remove('bg-blue-600');
            vms_tab.classList.remove('bg-blue-600');
        
            // Highlight active tab
            const activeTab = document.getElementById(activeTabId);
            activeTab.classList.add('bg-blue-600');
        
            // Get the table elements
            const contentToShow = document.getElementById(contentToShowId);
            const contentToHide = document.getElementById(contentToHideId);
        
            // Show and hide tables
            contentToShow.classList.remove('hidden');
            contentToHide.classList.add('hidden');
        }
       
    
    
        function exportToExcel() {
            // Get both tables
            let k8s_table = document.getElementById("k8s_table");
            let vms_table = document.getElementById("vms_table");
        
            // Create a new workbook
            let workbook = XLSX.utils.book_new();
        
            // Convert each table to a sheet and append it to the workbook
            let k8s_sheet = XLSX.utils.table_to_sheet(k8s_table);
            XLSX.utils.book_append_sheet(workbook, k8s_sheet, "Sizing on K8S");
        
            let vms_sheet = XLSX.utils.table_to_sheet(vms_table);
            XLSX.utils.book_append_sheet(workbook, vms_sheet, "Sizing on VMs");
        
            // Save the workbook
            XLSX.writeFile(workbook, "sizing_data.xlsx");
        }

     // Tab functionality
     const final_sizing_tab = document.getElementById('final_sizing_tab');
     const service_level_sizing_tab = document.getElementById('service_level_sizing_tab');
     const final_sizing_table = document.getElementById('final_sizing_table');
     const service_level_sizing_table = document.getElementById('service_level_sizing_table');
 
     // Function to switch tabs
     function main_activateTab(tab, contentToShow, contentToHide) {
         // Reset all tabs
         final_sizing_tab.classList.remove('bg-blue-600');
         service_level_sizing_tab.classList.remove('bg-blue-600');
         // Highlight active tab
         tab.classList.add('bg-blue-600');
 
         // Show and hide tables
         contentToShow.classList.remove('hidden');
         contentToHide.classList.add('hidden');
     }
 
     // Event listeners for tabs
     final_sizing_tab.addEventListener('click', () => main_activateTab(final_sizing_tab, final_sizing_table, service_level_sizing_table));
     service_level_sizing_tab.addEventListener('click', () => main_activateTab(service_level_sizing_tab, service_level_sizing_table, final_sizing_table));
    
    
    </script>
    </body>
    </html>
    