
{% include 'partials/header.html' %}
  <section class="flex justify-between lg:flex-row flex-col">
    <form method="POST" class="lg:w-[50%] px-5 w-[99%] shadow-2xl rounded p-2 overflow-y-scroll h-[90vh]" id="dataForm">
        {% for sheet_name, fields in page_info.data.items() %}
            <div class="lg:w-[30%] flex justify-between my-4 w-[95%] ">
                {% if sheet_name not in ["GeneralInputs", "DataRetention"] %}
                    <div class="flex flex-1 justify-between w-full poppins-bold text-xl items-center">
                        <h2 class="font-bold">{{ sheet_name }}</h2> 
                        <label>
                            <input type="checkbox" class="toggle" id="toggle-{{sheet_name}}" onclick="toggle_form('{{sheet_name}}')" />
                            <span class="toggle-label"></span>
                        </label>
                    </div>
                {% endif %}
            </div>

            <!-- Always visible for GeneralInputs and DataRetention -->
            <fieldset id="form-{{sheet_name}}" {% if sheet_name in ["GeneralInputs", "DataRetention"] %}style="display: block;"{% else %}style="display: none;"{% endif %} class="border rounded border-gray-300 px-5 py-2">  
                <h1 class="text-xl font-bold text-center poppins-bold">
                    {% if sheet_name == "GeneralInputs" %}
                        General Inputs
                    {% elif sheet_name == "DataRetention" %}
                        Data Retention
                    {% else %}
                        {{ sheet_name }}
                    {% endif %}
                </h1>
                {% for field in fields %}
                {% if field.data_type != "Hidden" %}
                    <div class="flex space-x-2">
                        <label for="{{ field.form_input }}">{{ field.form_input }}</label><br>
                        <span class="tooltip">?
                            <span class="tooltiptext"> <small>{{ field.help_text }}</small></span>
                        </span>
                    </div>
                {% endif %}
                    {% if field.data_type == "Numeric" %}
                        <input type="number" id="{{ field.form_input }}" name="{{ sheet_name }}_{{ field.form_input }}" class="border-2 border-gray-400 w-full p-2 my-2" value={{field.value}} min={{field.value}}><br><br>
                    {% elif field.data_type == "Boolean" %}
                       <input type="checkbox" id="{{ field.form_input }}" name="{{ sheet_name }}_{{ field.form_input }}" class="checkbox" value="TRUE" {% if field.value == "TRUE" %}checked{% endif %} onclick="this.value=this.checked ? 'TRUE' : 'FALSE'"><br><br>
                    {% elif field.data_type == "Hidden" %}
                        <input type="hidden" id="{{ field.form_input }}" name="{{ sheet_name }}_{{ field.form_input }}" value={{field.value}}><br><br>
                    {% else %}
                        <input type="text" id="{{ field.form_input }}" name="{{ sheet_name }}_{{ field.form_input }}" class="border-2 border-gray-400 w-full p-2 my-2"><br><br>
                    {% endif %}
                {% endfor %}
                <hr>  
            </fieldset>
        {% endfor %}
        <button type="submit" class="w-full px-5 py-2 my-4 rounded btn-disabled" id="main_form" disabled>Submit</button>
        <button class="w-full px-5 py-2 my-4 rounded btn-disabled" id="save_inputs" disabled>Save Inputs</button>
    </form>     

<div id="result" class="w-[50%] w-[99%] overflow-auto">
<h1 class="text-center text-2xl font-bold my-4">Sizing Information</h1>
</div>
</section> 

</body>
<script>
    var TEMPLATE_NAME = "{{ page_info.user_info.template_name}}"
   
    var formFlags = {
        vuLogx: false,
        vuBJM: false,
        vuInfra: false,
        vuTraces: false,
        vuCoreML: false,
        DataRetention: true,
        GeneralInputs: true
    };

    function toggle_form(form_name, userInitiated = true) {
        var formSection = document.getElementById("form-" + form_name);
        var toggleButton = document.getElementById("toggle-" + form_name);

        // Toggle the display style of the section
        if (formSection.style.display === "none") {
            formSection.style.display = "block"; // Show the section
            if (userInitiated) {
                formFlags[form_name] = true; // Update flag if user initiated
            }
        } else {
            formSection.style.display = "none"; // Hide the section
            resetInputValues(formSection); // Reset input values
            if (userInitiated) {
                formFlags[form_name] = false; // Update flag if user initiated
            }
        }

        // Update the toggle button state
        toggleButton.checked = formFlags[form_name];

        // Check if submit button should be enabled
        checkSubmitButton();
    }

    
     // Initialize form sections based on formFlags
     document.addEventListener('DOMContentLoaded', function() {
        for (var key in formFlags) {
            var formSection = document.getElementById("form-" + key);
            var toggleButton = document.getElementById("toggle-" + key);
            if (formFlags[key]) {
                if(key == "DataRetention" || key == "GeneralInputs") {
                    continue;
                }
                formSection.style.display = "block";
                toggleButton.checked = true;
                checkSubmitButton();
            } else {
                formSection.style.display = "none";
                toggleButton.checked = false;
            }
        }
    });
    function checkSubmitButton() {
        let isAnyInputValid = false;

        for (const key in formFlags) {
            if (formFlags[key]) {
                // Check for valid inputs in the visible sections
                if(key == "DataRetention" || key == "GeneralInputs") {
                    continue;
                }
                isAnyInputValid = true;
            }
        }

        // Enable or disable the submit button based on the validity of the inputs
        $('#main_form').prop('disabled', !isAnyInputValid);
        $('#save_inputs').prop('disabled', !isAnyInputValid);
        // Toggle button styles based on state
        if (isAnyInputValid) {
            $('#main_form').removeClass('btn-disabled').addClass('btn-enabled');
            $('#save_inputs').removeClass('btn-disabled').addClass('btn-enabled');
        } else {
            $('#main_form').removeClass('btn-enabled').addClass('btn-disabled');
            $('#save_inputs').removeClass('btn-enabled').addClass('btn-disabled');
        }
    }

    $('input').on('input change', function() {
        checkSubmitButton(); // Check button validity on input changes
    });
    // Sending form data to the server
    $('#main_form').on('click', function(e) {
        e.preventDefault(); // Prevent default form submission
        $('#loader').fadeIn('fast') // Show the loader
        var data = {}; // Initialize an empty object to store form data
        var form_status = {};
      
        // Loop over formFlags to gather data from selected sections
        for (var key in formFlags) {
                // Serialize each section’s form data as an array of {name, value} objects
                var formData = $(`#form-${key}`).serializeArray();               
                // Add each section to `data` with the required structure
                data[key] = { "formData": formData };
                form_status[key] = formFlags[key];
        }
        let payload = {
            "template_name": TEMPLATE_NAME,
            "form_data": data,
            "form_status": form_status
        }
        $.ajax({
            type: 'POST',
            url: '/calculate',
            contentType: 'application/json', // Set content type to JSON
            data: JSON.stringify(payload), // Send data as a JSON string
            success: function(response) {
                $('#loader').fadeOut('slow'); // Hide the loader
                $('#result').html(response.result); // Display the response in the result div
            },
            error: function(xhr, status, error) {
                $('#loader').fadeOut('slow'); // Hide the loader
                console.error("AJAX Error: ", error); // Log any error
            }
        });
    });

    $('#save_inputs').on('click', function(e) {
        e.preventDefault(); // Prevent default form submission
        
        var data = {}; // Initialize an empty object to store form data 
        var form_status = {};
        // Loop over formFlags to gather data from selected sections
        for (var key in formFlags) {
                // Serialize each section’s form data as an array of {name, value} objects
                var formData = $(`#form-${key}`).serializeArray();               
                // Add each section to `data` with the required structure
                data[key] = { "formData": formData };
                form_status[key] = formFlags[key];
        }
        let payload = {
            "template_name": TEMPLATE_NAME,
            "form_data": data,
            "form_status": form_status
        }
        $.ajax({
            type: 'POST',
            url: `/save_inputs/${TEMPLATE_NAME}`,
            contentType: 'application/json', // Set content type to JSON
            data: JSON.stringify(payload), // Send data as a JSON string
            success: function(response) {
               
                showToast("Inputs saved successfully!");
            },
            error: function(xhr, status, error) {
               
                console.error("AJAX Error: ", error); // Log any error
            }
        });
    });

        // Declare an object to hold default values for each form section
        var defaultValues = {};

        // Store default values on DOMContentLoaded
        document.addEventListener('DOMContentLoaded', () => {
            // Loop through each form section to capture default values
            $('form').find('input').each(function() {
                const inputId = this.id;
                const defaultValue = $(this).val(); // Get the initial value
                defaultValues[inputId] = defaultValue; // Store in the defaultValues object
            });
        });

        function resetInputValues(section) {
            // Find all inputs in the section and reset their values
            $(section).find('input').each(function() {
                const inputId = this.id;
                if (defaultValues[inputId] !== undefined) {
                    $(this).val(defaultValues[inputId]); // Reset to the default value
                }
            });
        }
</script>
</html>
